@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(~/Content/images/roku.jpg);" >
    <h1> <img src="~/Content/images/logo.jpg" /> Rongai University</h1>
    
    <h3>Student Organization of Rongai University(SORU)</h3>
    <p class="lead"><em>Leadership With Excellence</em></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rongai University</h2>
        <p>
           Education with standards.
        </p>
       <p>Leadership.Education.Responsibility</p>
    </div>
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <blockquote>
            To educate ethical, entrepreneurial leaders in Africa; 
            to cultivate within students, the critical thinking skills, concern for others,
            and the courage it will take to transform our continent.
        </blockquote>
    </div>
    <div class="col-md-4">
        <h2>Statistics</h2>
        <p>65% International Students</p>
       <p>48% Female Representation</p>
        <p>45% Women in Leadership</p>
    </div>
</div>